<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpdesk Support System</title>
    <!-- Adicione links para seus arquivos de estilo CSS, se necessário -->
</head>
<body>
<h1>Bem-vindo ao Helpdesk Support System</h1>
<h2>Escolha o seu tipo de login</h2>
<a th:href="@{/login/usuario}">Login do Usuário</a><br>
<a th:href="@{/login/tecnico}">Login do Técnico</a>
</body>
</html>

